

@media (max-width: 768px) {
		.service_order_box {					
			flex-direction: column;
			align-items: center;				
		}
		.service_order_box {
		 margin: rem(15px) 0;
		}
		.service_order__left {
			margin-bottom: rem(60px);
		}
		.service_order__right {
			margin-left: rem(-60px);
	}
}


.service-order_box {
	display: flex;
	margin-top: rem(40px);

	@include e(common) {		
		width: rem(422px);	
		justify-content: center;
		text-align: center;
		flex-direction: column;
		align-items: center;		
		background: $fontFamily;
		box-shadow: rem(3px) rem(4px) rem(12px) rgba(99, 99, 99, 0.25);	
		transition:all 0.3s ease 0.1s;
		padding: rem(35px) rem(35px);
		&:hover {	
			background: $blue;
			box-shadow: rem(3px) rem(4px) rem(12px) rgba(99, 99, 99, 0.25);										
		}
		
	}
	
	@include e(title) {		
		font: rem(24px) $fontFamily;	
		font-weight: 700;		
		line-height: rem(28px);		
		text-transform: uppercase;
		color: $blue;		
		transition:all 0.3s ease 0.1s;
}

	@include e(subtitle) {		
		font-family: $fontFamily;				
		font-size: rem(18px);
		line-height: rem(21px);
		align-items: center;		
		color: #3C3C3B;
		transition:all 0.3s ease 0.1s;
	}

	@include e(description) {			
		font-family: $fontFamily;		
		font-size: rem(13px);
		line-height: rem(15px);		
		text-align: center;
		text-transform: uppercase;
		color: #B6B6B6;
		padding-top: rem(25px);
		transition:all 0.3s ease 0.1s;		
	}

	@include e(btn) {				
		display: flex;
		width: rem(200px);
		height: rem(48px);	
		margin: rem(41px) rem(75px) rem(14px);
		background-color: $blue;
		align-items: center;
		justify-content: center;
		transition:all 0.3s ease 0.1s;
	}

	@include e(btn-info) {		
		font-family: $fontFamily;		
		font-weight: 700;
		font-size: rem(17px);
		line-height: rem(20px);	
		text-transform: uppercase;
		color: $white;		
		transition:all 0.3s ease 0.1s;
	}

	@include e(title-sign) {
		padding: rem(7px) rem(0px) rem(15px) rem(0px);
		font-family: $fontFamily;		
		font-weight: 700;
		font-size: rem(16px);
		line-height: rem(19px);
		align-items: center;		
		text-transform: uppercase;
		color: #B6B6B6;
		transition:all 0.3s ease 0.1s;
	}
}

.service-order_box__common:hover .service-order_box__title,
.service-order_box__common:hover .service-order_box__subtitle,
.service-order_box__common:hover .service-order_box__description {
				color: $white;								
			}			

.service-order_box__common:hover .service-order_box__btn {
				background-color: #B0CCEC;					
			}
.service-order_box__common:hover .service-order_box__btn-info {
				color: $blue;					
			}

.service_order__left .service-order_box__subtitle {
			padding: rem(41px) rem(70px) 0px;			
			}

.service_order__right .service-order_box__subtitle {
			padding: 0px rem(45px) 0px;			
			}			

.service-order_box .service_order__left {
		margin-right: rem(60px);
	}


	
